:root {
    --navy-blue: #2E2F42;
    --iris-color: #4D5AE5;
    --slate-color: #434455;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --hover-color: #404BBF;

}

body {
    font-family: "Roboto", serif;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background-color: var(--cornflower-color);
}

.header-logo {
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: var(--navy-blue);
}

.header-logo span {
    color: var(--iris-color);
}


.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy-blue);
}

.header-nav-link:hover {
    color: var(--hover-color);
}

.header-nav-link:active {
    border-bottom: 4px solid var(--hover-color);
}

.header-email, .header-phone {
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
}

.header-email:hover, 
.header-phone:hover {
    color: var(--hover-color);
}

.headline {
    background-color: var(--navy-blue);
}

.headline-title {
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
}

.headline-button {
    border:  none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--iris-color);
    cursor: pointer;
}

.headline-button:hover {
    background-color: var(--hover-color);
}

.benefits {
    background-color: #ffffff;
}

.benefits-list-item h3 {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.benefits-list-item p {
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
}

.team {
    background-color: var(--cloud-color);
}

.team-title {
    color: var(--navy-blue);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}

.team-list-item h3 {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.team-list-item p {
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
}

.portfolio-title {
    color: var(--navy-blue);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}

.portfolio-list-item h3 {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-list-item p {
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color: var(--navy-blue);
}

.footer-logo {
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: var(--cloud-color);
}

.footer-logo span {
    color: var(--iris-color);
}

footer p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud-color);
}