:root {
    --navy-blue: #2E2F42;
    --iris-color: #4D5AE5;
    --slate-color: #434455;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --hover-color: #404BBF;

}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background-color: var(--cornflower-color);
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo span {
    color: #2e2f42;
}

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.header-nav-link:hover {
    color: var(--hover-color);
}

.header-nav-link:active {
    border-bottom: 4px solid var(--hover-color);
}

address {
    font-style: normal;
}

.header-email, .header-phone {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-email:hover, 
.header-phone:hover {
    color: #404BBF;
}

.headline {
    background-color: var(--navy-blue);
}

.headline-title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
}

.headline-button {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--iris-color);
    cursor: pointer;
}

.headline-button:hover {
    background-color: #404BBF;
}

.benefits {
    background-color: #ffffff;
}

.benefits-list-item-headline{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-list-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.team {
    background-color: var(--cloud-color);
}

.team-title {
    color: var(--navy-blue);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    text-align: center;
}

.team-list-item {
    background-color: #ffffff;
}

.team-list-item-headline {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list-item-text {
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    color: var(--navy-blue);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list-item-headline {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfoli-list-item-text {
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color: var(--navy-blue);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo span {
    color: #f4f4fd;
}

footer p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud-color);
    letter-spacing: 0.02em; 
}